<%- include('./layout')-%>
    <style>
        body{
            margin: 10px;
            padding: 5px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        button {
            border-radius: 4px;
            color: rgb(82, 82, 255)
        }
        input {
            border-radius: 2px;
        }
    </style>
            <h1>LOGIN</h1>
            <br>
            <form class="form" role="form" action="/login" method="post" autocomplete="off">
    
              <div class="form-group">
                  <input name='username' placeholder="Nombre" class="form-control" type="text" required>
              </div>
              <div class="form-group">
                  <input name='password' placeholder="Password" class="form-control" type="password" required>
              </div>
    
              <div class="form-group">
                <input class="btn btn-success my-3" type="submit" value="Login">
              </div>
            </form>
            <h3>Facebook login</h3>
            <button class="btn btn-success my-3" onclick="goLogin()">Iniciar sesión con facebook</button>
    
            <hr>
            <div class="text-center"></div>
              <button class="btn btn-success my-3" onclick="goSignup()">SIGN-UP</button>
            </div>
        <script>
            const goSignup = () => {
                location.href = '/signup'
            }
            const goLogin = () => {
            location.href = '/login-facebook'
            }
        </script>
            
</body>
</html>