<%- include('./layout')-%>

    <h1 class = "m-3">Se registró correctamente al usuario. Acceda al login</h1>
    <button class="btn btn-success m-3" onclick="location.href='/'">Go login</button>

</body>
</html>